* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: rgb(250, 245, 245);
    --main-box: rgba(67, 72, 68, 0.378);
    --hover: rgb(219, 132, 11);
    --card: rgb(249, 160, 35);
    --title: rgb(142, 15, 3);
}

body {
    height: 100vh;
    background-image: url('../public/pexels-pixabay-326240.jpg');
    background-size: 220px;
    background-repeat: repeat;
}

main {
    background-color: var(--main-box);
}

header {
    background-color: var(--background);
}

a {
    text-decoration: none;
}

.hover>a:hover {
    color: var(--hover);
}

.navi {
    background-color: var(--background);
}

.recipe {
    background-color: var(--card);
    border: 2px solid var(--title);
    box-shadow: 0 3px 5px; 
}

.card-img-top{
    border-radius: 50%;
    border: 1px solid var(--title);
    box-shadow: 0 3px 5px black;
}

.card-title{
    color: var(--title)
}
